---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <article class="flexit">
    <section>
      <h1>{pageTitle}</h1>
      <p>
        My name is Thanos, and I'm a dedicated software engineer. My focus is
        web applications, emphasizing performance, scalability, and redundancy.
        I'm advocating for open source software and rapid Linux adaptation on
        the desktop.
      </p>
    </section>

    <section class="stack">
      <h2>My Tech Stack</h2>
      <p>
        I strive the latest technologies for my individual scenarios and tastes.
        This is a sample of languages, frameworks, and tools that I've used
        throughout my career so far, to deliver user value.
      </p>
    </section>
  </article>
</BaseLayout>

<style>
  .stack {
    text-align: center;
  }

  .logos {
    display: flex;
    height: 50px;
    width: calc(8 * 50px);
    gap: 1rem;
  }

  .flexit {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
