---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";
---

<header>
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</header>
<BaseLayout pageTitle={pageTitle}>
  <article class="flexit">
    <section>
      <h1>{pageTitle}</h1>
      <p>
        My name is Thanos, and I'm a dedicated software engineer. My focus is
        web applications, emphasizing performance, scalability, and redundancy.
        I'm advocating for open source software and rapid Linux adaptation on
        the desktop.
      </p>

      <p>While I'm a fan of back-end development, my work experience as full-stack allows me to contribute productively across the stack.</p>

    </section>

    <section class="logos">
      <i class="devicon-typescript-plain"></i>
      <i class="devicon-react-original"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-dotnetcore-plain"></i>
    </section>
  </article>
</BaseLayout>

<style>
  .stack {
    text-align: center;
  }

  .logos i {
    font-size: 4rem;
  }

  .logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .flexit {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media screen and (max-width: 768px) {
    .logos {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
