---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";
---

<header>
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</header>
<BaseLayout pageTitle={pageTitle}>
  <article class="introduction">
    <section>
      <h1>{pageTitle}</h1>
      <p>I build web apps that don't break, scale well, and run fast. I love working on back-end systems, yet my full-stack experience means I can jump around the stack, and communicate effectively with other teams.</p>
  <div class="padme">
    <p>I'm passionate about:</p>
    <ul class="passions">
      <li>Creating high-performance applications</li>
      <li>Building scalable systems that grow with your business</li>
      <li>Implementing redundant solutions that stay online</li>
    </ul>
  </div>

  
  <p>While I enjoy .NET, I'm also advocating for open source and wider Linux adoption for desktops and mobile.</p>
  
  <p>If you want to know more, don't hesitate to <a class="mailto-link" href="mailto:thanozio@proton.me">ask</a>.</p>

    </section>

    <section class="logos">
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-dotnetcore-plain"></i>
      <i class="devicon-typescript-plain"></i>
      <i class="devicon-react-original"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
    </section>
  </article>
</BaseLayout>

<style>
  .stack {
    text-align: center;
  }

  .logos i {
    font-size: 4rem;
  }

  .padme {
    padding: 2rem;
  }

  .passions {
    text-align: left;
    width: 400px;
    margin: 0 auto;
  }

  .mailto-link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }

  .logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .introduction {
    display: flex;
    padding-top: 10vh;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    max-width: 50%;
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    .logos {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
