---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.css";

type PostType = {
  url: string;
  frontmatter: {
    title: string;
  };
};

const data = import.meta.glob("./posts/*.md", { eager: true });
const allPosts = Object.keys(data).map((k) => data[k]) as PostType[];

const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Current posts:</p>
  <ul>
    {
      allPosts.map((post: PostType) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
