---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---
<style>
  .main-title {
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <div class="main-title">
    <h1>Thanos Dimitriades</h1>
    <h2>Full-Stack Engineer</h2>
  </div>
</BaseLayout>
