---
export interface Props {
  url: string;
  title: string;
}

const { url, title } = Astro.props;
---

<style>
  a {
    text-decoration: none;
    color: #884ef4;
  }

  a:hover {
    text-decoration: underline;
    color: #ddd;
  }
</style>

<li>
  <a href={url}>{title}</a>
</li>
