---
export interface Props {
  url: string;
  title: string;
  description: string;
}

const { url, title, description } = Astro.props;
---
<style>
  a {
    color: #ddd;
    font-weight: bold;
  }

  li p {
    font-size: 1.2rem;
  }
</style>

<li>
  <a href={url}>{title}</a>
  <p>{description}</p>
</li>
