---
const currentYear = new Date().getFullYear();
---
<style>
  footer {
    background-color: #2d2d2d;
    margin: 0;
    padding: 1.5em;
  }
</style>

<footer>
  <p>© 2025{currentYear !== 2025 && ` - ${currentYear}`}. Created by Thanos Dimitriades. All Rights Reserved.</p>
</footer>
