---

---

<style>
  .flexburger {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #25292e;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #68898d;
  }

  @media screen and (min-width: 636px) {
    .flexburger {
      display: none;
    }
  }
</style>

<div class="flexburger">
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</div>
