---

---
<style>
.flexburger {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #2d2d2d;
}

@media screen and (min-width: 636px) {
  .flexburger {
    display: none;
  }
}
</style>

<div class="flexburger">
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</div>
