---

---

<style>
  header {
    min-width: 100vw;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    padding: 1em;
    display: inline-block;
  }

  a:hover {
    text-decoration: underline;
    background-color: #a343cf;
  }
</style>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</header>
