---
import BaseLayout from "./BaseLayout.astro";
interface Frontmatter {
  title: string;
  pubDate: Date;
  author?: string;
  tags?: string[];
}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<style>
  .blog-article {
    margin-top: 4rem;
    max-width: 75vw;
  }
  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <article class="blog-article">
    <slot />
    <ul class="tags">
      Tags: {
        frontmatter.tags?.map((tag: string) => (
          <li class="tag">
            <a href={`/tags/${tag}/`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </article>
</BaseLayout>
