---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<style>
  .blog-article {
    margin-top: 4rem;
    max-width: 75vw;
  }
  .tags {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
  }

  .tag {
    border-radius: 5px;
    background-color: cadetblue;
    padding:  0.25rem 0.5rem;
    margin: 0.25rem;
  }
</style>
<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <article class="blog-article">
    <slot />
    <ul class="tags">Tags: {frontmatter.tags.map((tag: string) => <li class="tag">{tag}</li>)}</ul>
  </article>
</BaseLayout>
